<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h2>
    {{ isEditMode ? "Edit Task" : "Create Task" }}
  </h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Task Title"
        formControlName="title"
      />
      <mat-error *ngIf="taskForm.get('title').invalid"
        >Please enter a post title</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        placeholder="Task Description"
        formControlName="description"
      >
      </textarea>
      <mat-error *ngIf="taskForm.get('description').invalid"
        >Please enter a description</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="taskForm.invalid"
    >
      {{ isEditMode ? "Update" : "Create" }}
    </button>
  </form>
</mat-card>
